@font-face {
    font-family: 'Roboto';
    src: url(/Fonts/Roboto-Black.eot);
    src: url(/Fonts/Roboto-Black.eot) format('embedded-opentype'),
    url(/Fonts/Roboto-Black.woff) format('woff'),
    url(/Fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto';
    src: url(/Fonts/Roboto-Light.eot);
    src: url(/Fonts/Roboto-Light.eot) format('embedded-opentype'),
    url(/Fonts/Roboto-Light.woff) format('woff'),
    url(/Fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    }

    @font-face {
        font-family: 'Roboto';
        src: url(/Fonts/Roboto-Thin.eot);
        src: url(/Fonts/Roboto-Thin.eot) format('embedded-opentype'),
        url(/Fonts/Roboto-Thin.woff) format('woff'),
        url(/Fonts/Roboto-Thin.ttf) format('truetype');
        font-weight: 100;
        font-style: normal;
        }

        @font-face {
            font-family: 'Roboto';
            src: url(/Fonts/Roboto-Bold.eot);
            src: url(/Fonts/Roboto-Bold.eot) format('embedded-opentype'),
            url(/Fonts/Roboto-Bold.woff) format('woff'),
            url(/Fonts/Roboto-Bold.ttf) format('truetype');
            font-weight: 700;
            font-style: normal;
            }